body {
    background-color: var(--light-color);
    color: var(--dark-color);
    font-family: 'Roboto', sans-serif;
    -webkit-tap-highlight-color: transparent;
    transition: background-color var(--main-transition), color var(--main-transition);
}

body.dark {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.div-about-me h1, .list-of-skills li, .div-toggle-theme, .slider-btn-left-projects, .slider-btn-right-projects, .slider-btn-left-certificates, .slider-btn-right-certificates, .div-contacts-block-my-contacts a, .link-about-telegram, .link-for-project {
    transition: color var(--main-transition), transform var(--main-transition);
}

img {
    width: 30px;
}

.header {
    height: 90px;
    width: 100%;
    background-color: var(--accent2-color);
    color: var(--light-color);
    position: fixed;
    inset: 0;
    z-index: 10;
    transition: background-color var(--main-transition), border-radius var(--main-transition), transform var(--main-transition);
}

.header::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 25px;
    background: linear-gradient(0deg, var(--accent2-color-transperent), rgba(168, 95, 0, 0));
    pointer-events: none;
}

.header.moved {
    transform: scale(0.9) translateY(25px);
    background-color: var(--accent2-color-transperent);
    backdrop-filter: blur(4px);
    border-radius:  0 0 20px 20px;
}

.header-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.div-logo-header-footer {
    background-color: var(--accent-color);
    border-radius: var(--border-radius-main-elements);
    font-size: var(--titles-header-footer);
    font-weight: var(--font-weight-titles);
    padding: 10px;
}

.logo-part-1 {
    font-family: 'Protest Guerrilla';
    letter-spacing: 2px;
}

.logo-part-2 {
    font-family: 'Roboto';
}

.div-toggle-theme {
    width: 50px;
    height: 50px;
    background-color: var(--accent-color);
    border-radius: 50%;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    overflow: hidden;
    cursor: pointer;
}

.div-toggle-theme img {
    transform: translateX(10px);
    transition: transform var(--main-transition);
}

.div-toggle-theme img:nth-child(1) {
    transform: translate(10px, 0px);
}

.div-toggle-theme.dark img:nth-child(1) {
    transform: translate(40px, -40px);
}

.div-toggle-theme img:nth-child(2) {
    transform: translate(-60px, 40px);
}

.div-toggle-theme.dark img:nth-child(2) {
    transform: translate(-40px, 0px);
}

.main {
    margin: 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    width: 100%;
    max-width: 700px;
}

section {
    margin: 50px 0;
}

.div-title-my-projects, .div-title-my-skills, .div-title-my-certificates {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title-my-projects, .title-my-skills, .title-my-certificates {
    background-color: var(--accent-color);
    color: var(--light-color);
    font-size: var(--titles-of-sections);
    font-weight: var(--font-weight-titles);
    border-radius: var(--border-radius-main-elements);
    padding: 10px;
}

.about-me-and-img-about-me {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

.div-about-me {
    width: 100%;
    max-width: 300px;
    padding-left: 15px;
    overflow-wrap: break-word;
    position: relative;
    z-index: 2;
    animation: greeting1 1 1s ease;
}

@keyframes greeting1 {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.div-about-me h1 {
    font-size: var(--title-greeting);
}

.greeting-about-me {
    color: var(--accent2-color);
}

.specialisation-about-me {
    display: inline-block;
    width: 100%;
    background-color: var(--accent-color);
    color: var(--light-color);
    border-radius: var(--border-radius-main-elements);
    padding: 5px;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.specialisation-about-me::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    z-index: 1;
    pointer-events: none;
    animation: shine 3.5s infinite ease;
}

@keyframes shine {
    0% {
        transform: rotate(-45deg) translateY(-350px);
    }
    66% {
        transform: rotate(-45deg) translateY(350px);
    }
    100% {
        transform: rotate(-45deg) translateY(350px);
    }
}

.div-img-about-me {
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateY(-20px);
    animation: greeting2 1 1s ease;
    transition: transform 0.4s linear, opacity 0.4s linear;
}

.div-img-about-me img {
    width: 100%;
    max-width: 450px;
    position: relative;
    z-index: 1;
}

.block-of-slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.slider {
    width: 100%;
    max-width: 700px;
    display: flex;
    transition: transform var(--main-transition);
}

.card-of-project {
    background-color: var(--accent2-color);
    width: 100%;
    flex-shrink: 0;
    border-radius: var(--border-radius-main-elements);
    position: relative;
    overflow: hidden;
}

.div-img-of-project {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    position: relative;
}

.div-img-of-project::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: var(--border-radius-main-elements);
    z-index: 2;
}

.card-of-project:nth-child(1) .div-img-of-project::before {
    background-image: url(../images/content-of-pages/preview_projects/FairWeather_preview.webp);
}

.card-of-project:nth-child(2) .div-img-of-project::before {
    background-image: url(../images/content-of-pages/preview_projects/MEDEBOL_preview.webp);
}

.card-of-project:nth-child(3) .div-img-of-project::before {
    background-image: url(../images/content-of-pages/preview_projects/game-js-what-where-when_preview.webp);
}

.card-of-project:nth-child(4) .div-img-of-project::before {
    background-image: url(../images/content-of-pages/preview_projects/ToCalc_preview.webp);
}

.card-of-project:nth-child(5) .div-img-of-project::before {
    background-image: url(../images/content-of-pages/preview_projects/JustQuotes_preview.webp);
}

.div-img-of-project::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color-transperent);
    backdrop-filter: blur(4px);
    border-radius: var(--border-radius-main-elements);
    z-index: 3;
}

.div-img-of-project img {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    object-fit: contain;
    position: relative;
    z-index: 4;
}

.div-title-of-project, .div-decs-of-project, .div-project-stack, .div-links-for-projects {
    margin: 10px;
}

.div-title-of-project {
    display: inline-block;
}

.h2-title-of-project {
    background-color: var(--accent-color);
    color: var(--light-color);
    font-size: var(--titles-of-sections);
    font-weight: var(--font-weight-titles);
    padding: 10px;
    border-radius: var(--border-radius-main-elements);
    box-shadow: 0 0 20px var(--accent-color);
    margin: 0;
}

.p-decs-of-project {
    margin: 0;
    color: var(--light-color);
    font-size: var(--p-inform);
    font-weight: var(--font-weight-titles);
}

.div-project-stack {
    display: flex;
    align-items: center;
    color: var(--light-color);
    font-size: var(--titles-of-sections);
    font-weight: var(--font-weight-titles);
}

.h3-project-stack {
    margin: 0;
}

.show-stack {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.show-stack img {
    width: 40px;
    height: 40px;
}

.div-links-for-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.link-for-project, .link-about-telegram {
    background-color: var(--accent-color);
    color: var(--light-color);
    font-size: var(--p-inform);
    font-weight: var(--font-weight-titles);
    padding: 5px;
    border-radius: var(--border-radius-main-elements);
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.div-buttons-for-slider {
    margin: 10px 0;
    display: flex;
    gap: 10px;
}

.slider-btn-left-projects, .slider-btn-right-projects, .slider-btn-left-certificates, .slider-btn-right-certificates {
    background-color: var(--accent-color);
    padding: 10px;
    border-radius: var(--border-radius-main-elements);
    cursor: pointer;
}

.slider-btn-left-projects img, .slider-btn-right-projects img, .slider-btn-left-certificates img, .slider-btn-right-certificates img {
    width: 60px;
    height: 40px
}

.block-of-my-skills {
    column-width: 270px;
    column-gap: 10px;
    margin: 0 auto;
}

.div-title-of-skills {
    width: 100%;
    display: inline-flex;
}

.title-of-skills {
    background-color: var(--accent2-color);
    color: var(--light-color);
    font-size: var(--titles-of-sections);
    font-weight: var(--font-weight-titles);
    border-radius: var(--border-radius-main-elements);
    padding: 10px;
}

.list-of-skills {
    list-style: none;
    break-inside: avoid;
}

.list-of-skills li {
    font-size: var(--p-inform);
    color: var(--dark-color);
}

.list-of-skills.dark li {
    color: var(--light-color);
}

.div-img-certificate {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.div-img-certificate img {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    object-fit: contain;
}

.block-of-mention-about-telegram-channel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-img-logo-with-telegram {
    display: flex;
    justify-content: center;
    width: 100%;
}

.div-img-logo-with-telegram img {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
    border-radius: var(--border-radius-main-elements);
}

.div-block-about-telegram {
    width: 100%;
    min-width: 280px;
    max-width: 400px;
}

.block-about-telegram {
    background-color: var(--accent2-color);
    border-radius: 0 0 20px 20px;
    padding: 10px;
    margin: 0 20px;
    position: relative;
    overflow: hidden;
    z-index: 3;
}

.block-about-telegram::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(../icons/social_media/Telegram.svg);
    background-size: 350px 350px;
    background-repeat: no-repeat;
    opacity: 0.1;
    background-position: center;
    transform: translateX(150px);
    z-index: -1;
}

.p-about-telegram {
    color: var(--light-color);
    font-size: var(--p-inform);
}

.div-link-about-telegram {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    overflow-x: clip;
}

.div-block-my-contacts {
    position: relative;
}

.div-block-my-contacts::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-90deg, var(--accent-color-transperent), rgba(168, 95, 0, 0));
    filter: blur(60px);
    transform: scale(1.5) translateY(-15px);
}

.div-block-my-contacts::after {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--accent-color-transperent), rgba(168, 95, 0, 0));
    filter: blur(60px);
    transform: scale(1.5) translateY(15px);
}

.block-my-contacts {
    background-color: var(--accent-color);
    color: var(--light-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.block-my-contacts::before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-image: url(../icons/simpe_UI_elements/decoration_DevLogNikita.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 3;
}

.block-my-contacts::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-image: url(../icons/simpe_UI_elements/decoration_DevLogNikita.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform: scaleX(-1);
    z-index: 3;
}

.p-block-my-contacts {
    font-size: var(--titles-of-sections);
    font-weight: var(--font-weight-titles);
    text-align: center;
}

.div-contacts-block-my-contacts {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div-social-media-my-contacts {
    display: flex;
    gap: 10px;
}

.div-contacts-block-my-contacts a {
    position: relative;
}

.div-contacts-block-my-contacts img {
    width: 60px;
    height: 60px;
}

.div-phone-number-my-contacts {
    display: flex;
    gap: 8px;
    align-items: center;
    position: relative;
}

.div-phone-number-my-contacts a {
    color: var(--light-color);
    text-decoration: none;
    font-weight: var(--font-weight-titles);
    padding: 5px;
    overflow: hidden;
}

.phone-number-my-contacts {
    color: var(--accent2-color);
    font-size: var(--p-inform);
}

.div-phone-number-my-contacts a, .phone-number-my-contacts {
    font-weight: var(--font-weight-titles);
}

/* hover effects */

button:hover, .div-social-media-my-contacts a:hover, .link-for-project:hover, .link-about-telegram:hover, .div-toggle-theme:hover {
    transform: scale(1.07);
}

.div-social-media-my-contacts a::before {
    position: absolute;
    top: -50%;
    left: 50%;
    color: var(--light-color);
    background-color: var(--accent2-color);
    padding: 5px;
    border-radius: var(--border-radius-main-elements);
    transform: translate(-50%, 0);
}

.div-phone-number-my-contacts a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--accent2-color);
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: transform var(--main-transition), border-radius 1s;
}

.div-social-media-my-contacts a:nth-child(1):hover::before {
    content: 'Telegram';
}

.div-social-media-my-contacts a:nth-child(2):hover::before {
    content: 'Email';
}

.div-social-media-my-contacts a:nth-child(3):hover::before {
    content: 'GitHub';
}

.div-phone-number-my-contacts a:hover {
    transform: scale(1.07);
}

.div-phone-number-my-contacts a:hover::before {
    transform: translateY(-100%);
    border-radius: var(--border-radius-main-elements);
}

/* active effects */

button:active, .div-contacts-block-my-contacts a:active, .link-for-project:active, .link-about-telegram:active, .div-toggle-theme:active {
    transform: scale(0.90);
}

@media (min-width: 768px) {
    .about-me-and-img-about-me {
        grid-template-columns: 1fr 1fr;
    }

    .div-img-about-me img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .block-of-mention-about-telegram-channel {
        flex-direction: row;
    }

    .block-about-telegram  {
        margin: 0;
        border-radius: 0 20px 20px 0;
    }

    .div-img-logo-with-telegram img {
        border-radius: 20px 0 0 20px;
    }
}

@media (min-width: 1024px) {
    .block-my-contacts {
        flex-direction: row;
        align-items: center;
    }
}